:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark ;
  color: #eaa9ee;
 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5e3fc;


}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

#variable-proximity-demo{
  font: 2em sans-serif;
}

pre{
  font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:large ;
  display: block;
  place-items: center;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eaa9ee;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #ec7af1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eaa9ee;
  cursor: pointer;
  transition: border-color 0.25s;
}





